* {
	margin: 0px;
	padding: 0px;
}

h2 {
	text-align: center;
}

h1 {
	text-align: center;
}

h4 {
	line-height: 50px;
	font-size: 40px;
	text-align: left;
}

textarea {
	resize: none;
}

span {
	color: red;
}

p {
	color: #f2f2f2;
}

.span {
	color: chocolate;
}

.nav-item a {
	margin-left: 10px;
	text-decoration: none;
	list-style: none;
	color: #f2f2f2;	
}

.navbar-brand p {
	margin-top: 10px;
}

.card-title {
	margin-left: 10px;
	color: #f2f2f2;
}

.card-text {
	margin-left: 10px;
}

.card-text a {
	color: #f2f2f2;
	text-decoration: none;
}

.card-text a:hover {
	color: #C8833C;
	text-decoration: none;
}



#image {
	width: 300px;
	height: 300px;
	border-radius: 600px;
	margin-top: 10px;
}

.text-p {
	color: #000000;
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px){
	h2 {
		text-align: center;
	}

	h1 {
		text-align: center;
	}

	h4 {
		line-height: 50px;
		font-size: 40px;
		text-align: left;
	}

	textarea {
		resize: none;
	}

	span {
		color: red;
	}

	p {
		color: #f2f2f2;
	}

	.span {
		color: chocolate;
	}

	.nav-item a {
		margin-left: 10px;
		text-decoration: none;
		list-style: none;
		color: #f2f2f2;	
	}

	.navbar-brand p {
		margin-top: 10px;
	}

	.card-title {
		margin-left: 10px;
		color: #f2f2f2;
	}

	.card-text {
		margin-left: 10px;
	}

	.card-text a {
		color: #f2f2f2;
		text-decoration: none;
	}

	.card-text a:hover {
		color: #C8833C;
		text-decoration: none;
	}



	#image {
		width: 300px;
		height: 300px;
		border-radius: 600px;
		margin-top: 10px;
	}

	.text-p {
		color: #000000;
	}
}
